{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/92b21ed5b0.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "normaluser/css/common.css" %}" />
    <link rel="stylesheet" href="{% static "normaluser/css/game/navbar.css" %}" />
    <link rel="stylesheet" href="{% static "normaluser/css/game/battle-type.css" %}" />
    <title>Battle Type</title>
  </head>
  <body>
    <nav class="navbar">
      <figure class="logo">
        <img src="{% static "normaluser/img/logo.png" %}" alt="" />
      </figure>
      <div>
        <figure>
          <img src="{% static "normaluser/img/coin.png" %}" alt="" />
        </figure>
        <span id="points">{{ request.user.userextendedprofile.total_points }}</span>
        <figure>
          <a href="{% url "normalUserRechargeWallet" %}"><img src="{% static "normaluser/img/add.png" %}" alt="" /></a>
        </figure>
        <figure>
          <a href="{% url "normalUserProfile" %}"><img style="width: 60px;height: 60px;border-radius: 50%" src="/media/{{ request.user.userextendedprofile.profileimage }}" alt="" /></a>
        </figure>
      </div>
    </nav>

    <header class="heading">One on One</header>

    <!-- Cards -->
    <div class="battle-box">

        {% for battleCategory in battleCategories %}
              <div class="card card-adjust">
                <header>{{ battleCategory.category.title }}</header>
                <div>
                  <span class="cost">
                    Cost : {{ battleCategory.total_points }}
                    <figure>
                      <img src="{% static "normaluser/img/coin.png" %}" alt="" />
                    </figure>
                  </span>
                </div>
                <button class="card-button button-adjust">
                  <a href="{% url "normalUserStartBattle" battleCategory.id %}">Play</a>
                </button>
              </div>
        {% endfor %}




    </div>
  </body>
</html>
