{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c06afd5824.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "normaluser/css/game/loser.css" %}" />
    <link rel="stylesheet" href="{% static "normaluser/css/game/loser-responsive.css" %}" />
    <title>You Lost</title>
  </head>

  <body>
    <div class="container">
      <div class="message">
        <h1>OOPS ! MATCH DRAW</h1>
      </div>
      <div class="details">

        <div class="mid">
          <img src="{% static "normaluser/img/lost.png" %}" alt="" />
        </div>

      </div>
      <div class="coins">Coins earned : {{ coins_earned }} &nbsp;&nbsp; <figure>
          <img src="{% static "normaluser/img/coin.png" %}" alt="" />
        </figure></div>
      <div class="btns">
        <div class="leave-btn">
          <button type="button" onclick='window.location.href="/"'>Leave</button>
        </div>
        <div class="again-btn">
          <button type="submit" onclick='window.location.href="{% url "normalUserStartBattle" battle.battle.id %}"'>Play Again</button>
        </div>
      </div>
    </div>
  </body>
</html>
