<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/game/style/navbar.css" />
    <link rel="stylesheet" href="/game/style/gameHomeScreen.css" />
    <title>Game Home Screen</title>
  </head>
  <body>
    <nav class="navbar">
      <figure class="logo">
        <img src="/img/logo.jpg" alt="" />
      </figure>
      <div>
        <figure>
          <img src="/img/coin.png" alt="" />
        </figure>
        <span id="points">1000</span>
        <figure>
          <img src="/img/add.png" alt="" />
        </figure>
        <figure>
          <img src="/img/user.png" alt="" />
        </figure>
      </div>
    </nav>
    <section>
      <div class="card card-adjust">
        <header>One on One</header>
        <div>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui debitis
          praesentium dignissimos, quaerat aliquid, unde reiciendis laboriosam
          harum minima, ab quis veritatis commodi fugiat velit?
        </div>
        <button class="card-button button-adjust">
          <a href="#">Play Now</a>
        </button>
      </div>

      <div class="card card-adjust">
        <header>Events</header>
        <div>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui debitis
          praesentium dignissimos, quaerat aliquid, unde reiciendis laboriosam
          harum minima, ab quis veritatis commodi fugiat velit?
        </div>
        <button class="card-button button-adjust">
          <a href="#">Play Now</a>
        </button>
      </div>
    </section>
  </body>
</html>
