<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/92b21ed5b0.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/game/style/navbar.css" />
    <link rel="stylesheet" href="/game/style/leaderboard.css" />
    <title>LeaderBoard</title>
  </head>
  <body>
    <nav class="navbar">
      <figure class="logo">
        <img src="/img/logo.jpg" alt="" />
      </figure>
      <div>
        <figure>
          <img src="/img/coin.png" alt="" />
        </figure>
        <span id="points">1000</span>
        <figure>
          <img src="/img/add.png" alt="" />
        </figure>
        <figure>
          <img src="/img/user.png" alt="" />
        </figure>
      </div>
    </nav>
    <div class="top">
      <header class="heading leaderheader">LeaderBoard</header>
      <div class="buttonBox">
        <button class="batch active" onclick="activate('bronze')">
          <i class="fas fa-shield-alt"></i>
        </button>
        <button class="batch" onclick="activate('silver')">
          <i class="fas fa-shield-alt"></i>
        </button>
        <button class="batch" onclick="activate('gold')">
          <i class="fas fa-shield-alt"></i>
        </button>
      </div>
    </div>
    <header class="heading battle-header" id="LeagueName">Bronze League</header>

    <div class="rowHeading">
      <div class="left bold">Rank</div>
      <div class="middle bold">Coins Won</div>
      <div class="middle bold">Matches</div>
    </div>

    <div class="table">
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
      <div class="row">
        <div class="middle">1</div>
        <div class="left">
          <figure>
            <img
              src="https://filmfare.wwmindia.com/content/2021/jun/salmankhanmaster11624022456.jpg"
              alt=""
            />
          </figure>
          <div>Selmon Boii</div>
        </div>
        <div class="middle">5000</div>
        <div class="middle">521</div>
      </div>
    </div>
  </body>
  <script src="/js/league.js"></script>
</html>
