<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/game/style/middlescreen.css" />
    <link rel="stylesheet" href="/game/style/middlescreen-responsive.css" />
    <title>PLay Now</title>
  </head>

  <body>
    <div class="container">
      <div class="left">
        <div class="light-img">
          <img src="/img/light-img.png" alt="" />
        </div>
        <!-- <div class="dark-img hidden">
          <img src="/img/dark-img.png" alt="" />
        </div> -->
      </div>
      <div class="right">
        <h1>YAY!</h1>
        <h1>Your profile has been setup</h1>
        <div class="btn">
          <button type="submit">Play Now</button>
        </div>
      </div>
    </div>
  </body>
</html>
