<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c06afd5824.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/game/style/versus.css" />
    <link rel="stylesheet" href="/game/style/versus-responsive.css" />
    <title>Oppenent Found</title>
  </head>

  <body>
    <div class="container">
      <div class="left">
        <img src="/img/self.png" alt="" />
        <h1 class="self-name">USERNAME</h1>
      </div>
      <div class="mid">
        <div class="versus-logo">
          <img src="/img/versus-upper.png" alt="" />
          <img src="/img/versus-lower.png" alt="" />
        </div>
      </div>
      <div class="right">
        <img src="/img/opponent.png" alt="" />
        <h1 class="opponent-name">USERNAME</h1>
      </div>
    </div>
  </body>
</html>
