.qna header {
  margin: 2rem 0;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.qnaCointainer {
  border: 1px solid var(--dark);
  margin: 2rem 1rem;
  box-shadow: 6px 3px 5px -2px lightgrey, 1px 1px 5px black;
  width: 35rem;
}

.qnaHeading {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.7s ease;
}

i {
  transition: all 0.3s ease;
}

.active {
  background-color: white;
  transition: all 0.3s ease;
}

.active i {
  transform: rotate(180deg);
}

.qnaContent {
  background-color: whitesmoke;
  overflow: hidden;
  line-height: 1.5rem;
  transition: all 0.7s ease;
  max-height: 0;
  opacity: 0;
  padding: 0 1rem;
}

.qnaactive {
  padding: 1rem;
  opacity: 1;
  max-height: 400px;
}
