@media (max-width: 800px) {
    .left img,
    .right img {
        height: 150px;
        box-shadow: 0 0 11px 8px #a5a8f3;
        margin-bottom: 30px;
    }
    .left h1,
    .right h1 {
        font-size: 24px;
    }
    .versus-logo {
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .left {
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }
    .right {
        animation: 0.5s ease-out 0s 1 slideInFromRight;
    }
    .versus-logo {
        animation: 0.3s ease-out 0s 1 slideInFromTop;
    }
}

@media (max-width: 600px) {
    .left img,
    .right img {
        height: 100px;
        box-shadow: 0 0 8px 6px #a5a8f3;
        margin-bottom: 20px;
    }
    .left h1,
    .right h1 {
        font-size: 18px;
    }
    .versus-logo {
        height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        animation: 0.3s ease-out 0s 1 slideInFromTop;
    }
    .left {
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }
    .right {
        animation: 0.5s ease-out 0s 1 slideInFromRight;
    }
}

@media (max-width: 420px) {
    .container {
        flex-direction: column;
    }
    .left,
    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left {
        align-items: flex-start;
        padding-left: 8vw;
    }
    .right {
        align-items: flex-end;
        padding-right: 8vw;
    }
    .left img,
    .right img {
        height: 100px;
        box-shadow: 0 0 8px 6px #a5a8f3;
        margin-bottom: 20px;
    }
    .left h1,
    .right h1 {
        font-size: 18px;
    }
    .mid {
        height: 40%;
    }
    .versus-logo {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }
    .left {
        animation: 0.7s ease-out 0s 1 slideInFromTop;
    }
    .right {
        animation: 0.7s ease-out 0s 1 slideInFromBottom;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}